@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: 'Lato', sans-serif;
  vertical-align: baseline;
}

.wrapper {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

nav {
  position: absolute;
  -webkit-animation: dink 1.5s;
  animation: dink 1.5s;
  top: 5em;
  display: inline-block;
  border-bottom-style: solid;
  border-width: 2px;
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav ul {
  list-style-type: none;
}

nav li {
  display: inline-block;
  margin-bottom: 15px;
}

nav a, nav a:visited, nav a:focus, nav a:link {
  text-decoration: none;
}

nav a {
  color: black;
  font-size: 1.6rem;
  padding: 0em 1em 0em 1em;
  font-family: 'Lato', sans-serif;
  -webkit-transition: -webkit-text-decoration 2s;
  transition: -webkit-text-decoration 2s;
  transition: text-decoration 2s;
  transition: text-decoration 2s, -webkit-text-decoration 2s;
  font-weight: 500;
  font-size: 1.8rem;
}

nav a:hover {
  color: #00528b;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.current-page {
  color: #00528b;
}

.logo img {
  width: 400px;
  height: auto;
}

.projects-container {
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 14em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-animation: fadein 2.5s;
          animation: fadein 2.5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 50px;
  max-width: 1200px;
}

.project {
  width: 800px;
  height: 360px;
  background: -webkit-gradient(linear, left top, left bottom, from(#60c5d9), to(white));
  background: linear-gradient(#60c5d9, white);
  margin: 2em;
  border-style: solid;
  border-width: .5px;
  border-radius: 5px;
  overflow: hidden;
}

.imgBx {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-title {
  position: absolute;
  bottom: 0;
  top: 75%;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.8);
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 1;
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  -webkit-transition: .5s;
  transition: .5s;
}

.project-title h3, .project-title p {
  text-transform: none;
  color: white;
  font-family: 'Lato', sans-serif;
  position: absolute;
}

.project-title h3 {
  font-size: 2rem;
  top: 30px;
  font-weight: 500;
}

.project-title p {
  top: 90px;
  font-size: 1.2rem;
}

.project:hover .project-title {
  top: 0;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.box .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
}

.jewish-cultures-img {
  -o-object-fit: cover;
     object-fit: cover;
}

.blue-sky-img {
  -o-object-fit: cover;
     object-fit: cover;
}

#vnp-img {
  width: 60%;
  height: auto;
  position: absolute;
  top: 15%;
  left: 20%;
  -webkit-transition: .5s;
  transition: .5s;
  border-radius: 5px;
}

#credit {
  text-align: center;
  font-weight: 300;
  color: #363535;
}

@-webkit-keyframes dink {
  from {
    top: 0em;
    opacity: 0;
  }
  to {
    top: 5em;
    opacity: 1;
  }
}

@keyframes dink {
  from {
    top: 0em;
    opacity: 0;
  }
  to {
    top: 5em;
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes slide {
  from {
    bottom: 0;
  }
  to {
    top: 0;
  }
}

@keyframes slide {
  from {
    bottom: 0;
  }
  to {
    top: 0;
  }
}

.about-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 250px;
  padding-bottom: 80px;
}

.about-text {
  width: 50%;
}

.about-text h2 {
  font-size: 3rem;
  -webkit-animation: fadein 2.5s;
          animation: fadein 2.5s;
}

.about-text h3 {
  padding-top: 30px;
  font-size: 2rem;
  line-height: 2.6rem;
  -webkit-animation: fadein 3.5s;
          animation: fadein 3.5s;
}

.about-text p {
  padding-top: 30px;
  font-size: 22px;
  line-height: 2rem;
  -webkit-animation: fadein 4.5s;
          animation: fadein 4.5s;
  font-weight: 300;
  font-family: 'open-sans',sans-serif;
}

.about-text a, .about-text a:visited, .about-text a:focus, .about-text a:link {
  text-decoration: none;
  color: #00528b;
  font-family: 'open-sans',sans-serif;
}

.about-text a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.about-photo {
  max-width: 50%;
  text-align: center;
  -webkit-animation: fadein 2.5s;
          animation: fadein 2.5s;
}

.about-photo img {
  max-width: 80%;
  height: auto;
  -webkit-box-shadow: 5px 10px #36454f;
          box-shadow: 5px 10px #36454f;
}

/* Blue Sky page */
.case-study-title {
  margin-top: 240px;
  margin-left: auto;
  margin-right: auto;
}

#case-study-subtitle {
  font-size: 2.25rem;
  -webkit-animation: fadein 2.5s;
  animation: fadein 2.5s;
  color: grey;
  font-weight: 400;
  margin-top: 1rem;
}

#case-study-text {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5rem;
}

#case-study-title {
  font-size: 3rem;
  -webkit-animation: fadein 2.5s;
          animation: fadein 2.5s;
  font-weight: 500;
}

.case-study-links {
  font-size: 20px;
  font-weight: 500;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
}

.case-study-links a, .case-study-links a:visited, .case-study-links a:focus, .case-study-links a:link {
  text-decoration: none;
  color: #00528b;
}

.case-study-links a:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.case-study-header {
  color: black;
  padding: 1.5rem 0rem 1.5rem 0rem;
  font-size: 2rem;
  padding-top: 4.5rem;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  text-decoration: underline;
}

.case-study-paragraph {
  line-height: 2rem;
  font-size: 20px;
  font-weight: 300;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  font-family: 'open-sans',sans-serif;
}

.case-study-additional-info {
  line-height: 2rem;
  font-size: 20px;
  font-weight: 300;
  -webkit-animation: fadein 4s;
          animation: fadein 4s;
  margin-top: 2rem;
  font-family: 'open-sans',sans-serif;
  padding-bottom: 40px;
}

.case-study-bullets, .case-study-secondary-list {
  margin-left: 5rem;
  line-height: 2rem;
  font-size: 20px;
  font-weight: 300;
  font-family: 'open-sans',sans-serif;
}

.case-study-bullets li, .case-study-secondary-list li {
  padding-top: .25rem;
  padding-bottom: .5rem;
  font-family: 'open-sans',sans-serif;
}

.number-large {
  font-size: 2rem;
}

.embolden {
  font-weight: 900;
}

#small-paragraph-spacing {
  padding-bottom: 1.5rem;
}

#small-spacing {
  padding-bottom: 1.5rem;
}

.numbered-paragraphs {
  padding-bottom: 1.5rem;
  font-family: 'open-sans',sans-serif;
}

.case-study-subheading {
  font-size: 1.7rem;
  padding-bottom: .75rem;
  padding-top: 1.5rem;
}

.case-study-subsubheading {
  font-size: 1.6rem;
  font-weighT: 500;
}

#blue-sky-sitemap {
  margin-top: 1.5rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.case-study-photo {
  width: 100%;
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.forward-path {
  margin-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.more-projects {
  width: 360px;
  height: 80px;
  background-color: white;
  border-style: solid;
  border-width: 2px;
  border-color: #00528b;
  color: #00528b;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.more-projects p {
  font-size: 1.5rem;
  position: absolute;
  top: 32%;
  left: 50%;
  margin-left: -103px;
}

.more-projects:hover {
  background-color: #00528b;
  color: white;
}

.button-container {
  margin-top: 250px;
}

.view-project {
  width: 240px;
  height: 60px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
  color: white;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
}

.view-project p {
  font-size: 1.5rem;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-left: -66px;
  z-index: 9999999999999999;
}

.view-project:hover {
  background-color: rgba(0, 82, 139, 0.9);
}

.pros-cons {
  margin-top: 20px;
}

.pros-cons p {
  padding-left: 1rem;
  padding-top: 1rem;
  font-family: 'open-sans',sans-serif;
}

.left-cells {
  border-right-style: solid;
  border-width: 1px;
  border-color: black;
}

.pros-cons th {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: black;
  width: 50%;
  font-family: 'open-sans',sans-serif;
}

.pros-cons td li {
  padding-left: 1rem;
}

.underline {
  text-decoration: underline;
  color: white;
}

.underline-case-study {
  text-decoration: underline;
  color: grey;
}

.flex-screenshots-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-screenshots-container .flex-screenshot {
  width: 30vw;
  height: auto;
  margin: 1.5vw;
  text-align: center;
}

.flex-screenshots-container .flex-screenshot img {
  width: 30vw;
  height: auto;
}

.screenshot {
  text-align: center;
}

.screenshot #navbar {
  width: 50vw;
  height: auto;
}

.screenshot img {
  width: 30vw;
  height: auto;
}

.screenshot-subtitle {
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  font-weight: 300;
}

#wireframe-homepage img, #wireframe-footer img, #wireframe-explore img, #wireframe-stories img, #mockup-homepage img, #mockup-explore img, #mockup-stories img {
  border-style: solid;
  border-width: 1px;
}

#wireframe-footer img {
  width: 50vw;
  height: auto;
  text-align: left;
}

#mockup-homepage img {
  width: 45vw;
}

#rich-brew-link a, #rich-brew-link a:visited, #rich-brew-link a:focus, #rich-brew-link a:link {
  color: #00528b;
}

#coming-soon p {
  top: 40%;
  left: 50%;
  margin-left: -96px;
  font-size: 2rem;
}

#case-study-quote {
  font-weight: 400;
}

#border-photo {
  border-style: solid;
  border-width: 1px;
}

#task-flow-photo {
  border-style: solid;
  border-width: 1px;
  width: 55vw;
  height: auto;
}

#prototype_screenshot {
  border-style: solid;
  border-width: 1px;
  width: 50vw;
  height: auto;
}

#full-photo {
  float: left;
  width: 40vw;
  height: auto;
  margin-right: 1.5vw;
}

#vnp_wireframe {
  float: right;
}

#vnp_wireframe img {
  width: 40vw;
  margin-left: 1vw;
}

#non-floated-container {
  margin-top: 4vw;
}

.body-link {
  color: #00528b;
  font-weight: 400;
}

.body-link a, .body-link a:visited, .body-link a:focus, .body-link a:link {
  text-decoration: none;
  color: #00528b;
}

.body-link a:hover {
  text-decoration: underline;
  -webkit-text-decoration-style: wavy;
          text-decoration-style: wavy;
}

.clear {
  clear: both;
}
/*# sourceMappingURL=main.css.map */