$blue: #00528b;

@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700&display=swap");

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
p {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: "Lato", sans-serif;
	vertical-align: baseline;
	scroll-behavior: smooth;
}

.wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
}

#credit {
	text-align: center;
	font-weight: 300;
	color: #363535;
	position: fixed;
	bottom: 0;
	width: 100%;
}

.embolden {
	font-weight: 600;
}

p + p {
	margin-top: 1rem;
}

.content-wrapper {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}

/* --- NAVIGATION --- */

nav {
	position: absolute;
	-webkit-animation: slide-down 1.5s;
	animation: slide-down 1.5s;
	top: 5em;
	display: inline-block;
	border-bottom-style: solid;
	border-width: 2px;
	width: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1600px;
}

nav ul {
	list-style-type: none;
}

nav li {
	display: inline-block;
	margin-bottom: 15px;
}

nav a,
nav a:visited,
nav a:focus,
nav a:link {
	text-decoration: none;
}

nav a {
	color: black;
	font-size: 1.6rem;
	padding: 0em 1em 0em 1em;
	font-family: "Lato", sans-serif;
	-webkit-transition: -webkit-text-decoration 2s;
	transition: -webkit-text-decoration 2s;
	transition: text-decoration 2s;
	transition: text-decoration 2s, -webkit-text-decoration 2s;
	font-weight: 500;
	font-size: 1.8rem;
}

nav a:hover {
	color: $blue;
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}

.current-page {
	color: $blue;
}

/* --- PROJECTS --- */

.projects-container {
	margin-left: auto;
	margin-right: auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 14em;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-animation: fadein 2.5s;
	animation: fadein 2.5s;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding-bottom: 50px;
	max-width: 1200px;
}

.project {
	width: 800px;
	height: 360px;
	margin: 2em;
	border-style: solid;
	border-width: 0.5px;
	border-radius: 5px;
	overflow: hidden;
}

.imgBx {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.project-title {
	position: absolute;
	bottom: 0;
	top: 75%;
	width: 100%;
	height: 100%;
	background-color: rgba(25, 25, 25, 0.8);
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	opacity: 1;
	overflow: hidden;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 15px;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.project-title h3,
.project-title p {
	text-transform: none;
	color: white;
	font-family: "Lato", sans-serif;
	position: absolute;
}

.project-title h3 {
	font-size: 2rem;
	top: 30px;
	font-weight: 500;
}

.project-title p {
	top: 90px;
	font-size: 1.2rem;
	padding-right: 1em;
}

.project:hover .project-title {
	top: 0;
}

.box {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 5px;
}

.box .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	border-radius: 5px;
}

/* --- ABOUT --- */

.about-container {
	margin-top: 250px;
	padding-bottom: 80px;
}

.about-text {
	overflow: hidden;
	padding: 7px;
}

.about-text h2 {
	font-size: 3rem;
	-webkit-animation: fadein 2.5s;
	animation: fadein 2.5s;
	margin-bottom: 1rem;
}

.about-text h3 {
	padding-top: 30px;
	font-size: 2rem;
	line-height: 2.6rem;
	-webkit-animation: fadein 3.5s;
	animation: fadein 3.5s;
}

.about-text p {
	font-size: 20px;
	line-height: 2.2rem;
	-webkit-animation: fadein 4.5s;
	animation: fadein 4.5s;
	font-weight: 300;
	font-family: sans-serif;
}

.about-text a,
.about-text a:visited,
.about-text a:focus,
.about-text a:link {
	text-decoration: none;
	color: $blue;
	font-family: sans-serif;
	font-weight: 400;
}

.about-text a:hover {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}

.about-bullets {
	margin: 1rem 0rem 2rem 2rem;
	line-height: 2rem;
	font-family: sans-serif;
	font-size: 20px;
	-webkit-animation: fadein 4.5s;
	animation: fadein 4.5s;
	font-weight: 300;
	font-family: sans-serif;
}

.about-bullets li {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-family: sans-serif !important;
}

/* --- CASE STUDIES --- */

.case-study-title {
	margin-top: 240px;
	margin-left: auto;
	margin-right: auto;
}

#case-study-subtitle {
	font-size: 2.25rem;
	-webkit-animation: fadein 2.5s;
	animation: fadein 2.5s;
	color: grey;
	font-weight: 400;
	margin-top: 1rem;
}

.case-study-text {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5rem;
	max-width: 1000px;
}

.summary-text {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5rem;
	max-width: 1200px;
}

.case-study-header {
	font-size: 3rem;
	-webkit-animation: fadein 2.5s;
	animation: fadein 2.5s;
	font-weight: 500;
}

.case-study-links {
	font-size: 20px;
	font-weight: 400;
	-webkit-animation: fadein 4s;
	animation: fadein 4s;
}

.case-study-links a,
.case-study-links a:visited,
.case-study-links a:focus,
.case-study-links a:link {
	text-decoration: none;
	color: $blue;
	font-family: sans-serif;
}

.case-study-links a:hover {
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
}

.case-study-heading {
	color: black;
	padding: 1.5rem 0rem 1.5rem 0rem;
	font-size: 2.5rem;
	padding-top: 4.5rem;
	-webkit-animation: fadein 4s;
	animation: fadein 4s;
	font-weight: 500;
}

.case-study-paragraph {
	line-height: 2.2rem;
	font-size: 20px;
	-webkit-animation: fadein 4s;
	animation: fadein 4s;
	font-family: sans-serif;
	font-weight: 300;
	font-style: normal;
}

.case-study-paragraph .embolden {
	font-family: sans-serif;
}

.case-study-additional-info {
	line-height: 2.2rem;
	font-size: 21px;
	font-weight: 300;
	-webkit-animation: fadein 4s;
	animation: fadein 4s;
	margin-top: 2rem;
	font-family: sans-serif;
	padding-bottom: 40px;
}

.case-study-additional-info span {
	font-family: sans-serif;
}

.case-study-bullets {
	margin-left: 3rem;
	line-height: 2rem;
	font-size: 20px;
	font-weight: 300;
	font-family: sans-serif;
}

.case-study-bullets li,
.case-study-secondary-list li {
	padding-top: 0.25rem;
	padding-bottom: 0.5rem;
	font-family: sans-serif !important;
}

.case-study-bullets span,
.case-study-secondary-list span {
	font-family: sans-serif !important;
}

.case-study-subheading {
	font-size: 1.7rem;
	padding-bottom: 0.75rem;
	padding-top: 1.5rem;
	font-weight: 400;
}

.case-study-photo {
	width: 100%;
	height: 50vh;
	-o-object-fit: cover;
	object-fit: cover;
}

.forward-path {
	margin-top: 4rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

.more-projects {
	width: 360px;
	height: 80px;
	background-color: white;
	border-style: solid;
	border-width: 2px;
	border-color: $blue;
	color: $blue;
	position: relative;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.more-projects p {
	font-size: 1.5rem;
	position: absolute;
	top: 32%;
	left: 50%;
	margin-left: -103px;
}

.more-projects:hover {
	background-color: $blue;
	color: white;
}

.button-container {
	margin-top: 250px;
}

.view-project {
	width: 240px;
	height: 60px;
	border-style: solid;
	border-width: 2px;
	border-color: white;
	color: white;
	position: relative;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.view-project p {
	font-size: 1.5rem;
	position: absolute;
	top: 25%;
	left: 50%;
	margin-left: -66px;
	z-index: 9999999999999999;
}

.view-project:hover {
	background-color: rgba(0, 82, 139, 0.9);
}

.body-link {
	color: $blue;
	font-weight: 400;
	text-decoration: none;
	font-family: sans-serif;
}

.body-link a,
.body-link a:visited,
.body-link a:focus,
.body-link a:link {
	text-decoration: none;
	color: $blue;
}

.body-link:hover {
	text-decoration: underline;
}

.case-study-summary {
	background: #f4f4f4;
	-webkit-box-shadow: 8px 8px 16px 4px grey;
	box-shadow: 8px 8px 16px 4px grey;
	border-radius: 10px;
	max-width: 1400px;
	margin: auto;
}

.case-study-summary .case-study-heading {
	padding-top: 4rem;
	margin-top: 3.5rem;
}

.case-study-summary #first-summary-subheading {
	padding-top: 1rem;
}

.colored-box {
	text-align: center;
	border-radius: 10px;
	margin-bottom: 1rem;
	width: 70%;
	padding-bottom: 2rem;
}

.colored-box p {
	line-height: 2.2rem;
	font-size: 20px;
	-webkit-animation: fadein 4s;
	animation: fadein 4s;
	font-family: sans-serif;
	font-weight: 400;
	font-style: normal;
	margin: 0;
}

.blue-bg {
	background-color: #a7c7e7;
}

.red-bg {
	background-color: #faa0a0;
}

.grey-bg {
	background-color: lightgray;
}

.colored-box-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}

/* --- MEDIA --- */

/* General */

.case-study-video {
	height: auto;
	margin: auto;
	margin-top: 5rem;
	overflow: hidden;
	/* 16:9 aspect ratio */
	padding-top: 56.25%;
	position: relative;
}

.case-study-video * {
	border: 0;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.floated-screenshot {
	float: right;
	max-width: 50%;
	text-align: center;
	margin-bottom: 40px;
}

.flex-screenshots-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.flex-screenshots-container .flex-screenshot {
	width: 40%;
	height: auto;
	margin: 2%;
	text-align: center;
}

.screenshot {
	text-align: center;
	margin: 2rem auto;
}

.screenshot img {
	height: auto;
}

.screenshot-subtitle {
	font-family: "Lato", sans-serif;
	font-size: 1rem;
	font-weight: 300;
}

.mockup img {
	width: 100%;
}

.logo img {
	width: 12em;
	height: auto;
}

.about-photo {
	max-width: 50%;
	text-align: center;
	-webkit-animation: fadein 2.5s;
	animation: fadein 2.5s;
	float: right;
	padding-bottom: 10px;
}

.about-photo img {
	max-width: 80%;
	height: auto;
	-webkit-box-shadow: 7px 7px rgba(27, 76, 109, 0.9);
	box-shadow: 7px 7px rgba(27, 76, 109, 0.9);
	float: right;
}

/* Bloom */

#bloom-db-diagram img {
	width: 80%;
	border-style: solid;
	border-width: 1px;
	margin: auto;
}

#bloom-img {
	width: 35%;
	height: auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

/* Michigan Engineering */

.events-feed-block--applied img {
	width: 50%;
	border-style: solid;
	border-width: 1px;
}

#events-feed-block-editing-empty img {
	width: 80%;
	border-style: solid;
	border-width: 1px;
}

#events-feed-block-editing-form img {
	width: 60%;
	border-style: solid;
	border-width: 1px;
}

#single-event-block-editing-interface img {
	width: 80%;
	border-style: solid;
	border-width: 1px;
}

#single-event-block-editing-panel img {
	width: 70%;
	border-style: solid;
	border-width: 1px;
}

.single-event-block--vertical img {
	width: 70%;
}

.single-event-block--horizontal img {
	width: 70%;
}

.single-event-block--horizontal--small img {
	width: 60%;
}

.blue-sky-img {
	-o-object-fit: cover;
	object-fit: cover;
}

/* Mechanicus */

#mechanicus-db-model img {
	width: 80%;
}

.mechanicus-img {
	-o-object-fit: cover;
	object-fit: cover;
}

#mechanicus-img {
	width: 70%;
	height: auto;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

/* Media Audit */

.media-audit-screenshot img {
	outline: solid black 1px;
	width: 100%;
}

.media-audit-project .imgBx {
	background: white;
}

.media-audit-project img {
	object-fit: contain;
}

/* --- ANIMATIONS --- */

@-webkit-keyframes slide-down {
	from {
		top: 0em;
		opacity: 0;
	}
	to {
		top: 5em;
		opacity: 1;
	}
}

@keyframes slide-down {
	from {
		top: 0em;
		opacity: 0;
	}
	to {
		top: 5em;
		opacity: 1;
	}
}

@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes slide {
	from {
		bottom: 0;
	}
	to {
		top: 0;
	}
}

@keyframes slide {
	from {
		bottom: 0;
	}
	to {
		top: 0;
	}
}
